*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin toCenter(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
body{
    background-color: aquamarine;
}
.container{
    text-align: center;
    @include toCenter();
    h1{
       font-size: 40px;
       font-weight: 500;
       font-family: monospace;
       letter-spacing: .5px;
    }
    #text{
        display: inline-block;
        text-align: center;
        margin-top: 50px;
        font-size: 50px;
        height: 70px;
        width: 300px;
        background: beige;
        border: 1px solid bisque;
    }
    .Btns{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;
        button{
            height: 50px;
            width: 200px;
            background: linear-gradient(45deg, #ffc0cbd9,#c8c3c3ab)
        }
    }

}